#get_policy_frm {
  position: relative;
}
#get_policy_frm fieldset {
    border: 0 none;
    padding: 0px;
    box-sizing: border-box;
    width: 90%;
    position: absolute;
}
/*Hide all except first fieldset*/
#get_policy_frm fieldset:not(:first-of-type) {
    display: none;
}
/*step_progressbar*/
#step_progressbar {
    width: 100%;
    padding-bottom: 30px;
}
#step_progressbar li {
    list-style-type: none;
    color: #ccc;
    text-transform: uppercase;
    font-size: 14px;
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
}
#step_progressbar li.active{
    color: #1c7fb5;
}
.js_previous{ margin-right: 10px; }
.b-epetsure-form{ padding: 5px 0px; display: block; height: 400px; width: 450px; overflow: hidden; }

.ep-tooltip {
    border-bottom: 1px dotted #0077AA;
    cursor: help;
}

.ep-tooltip::after {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    content: attr(data-tooltip); 
    margin-top: -24px;
    opacity: 0; 
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    z-index: 9999;
    width: 300px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.ep-tooltip:hover::after {
    opacity: 1; 
    visibility: visible;
}
.ep-tooltip i{
    color: #1c7fb5;
}

.help-block.form-error {
    font-size: 13px !important;
    margin: 0 0 -10px;
}

a.get_policy_frm__link, input.get_policy_frm__link{ display: none;  }